html,body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    list-style: none;
}
body{
    background: rgb(96, 96, 107);
    font-size: 14px;
    line-height: 20px;

}
.resume-wrapper{
    display: flex;
    width: 80%;
    margin: 50px auto;
    background: rgb(216, 208, 162);
    padding: 10px;
}
.resume-wrapper .resume-left{
    width: 35%;
    background: #26252d;
}
.resume-wrapper .resume-left .resume-image{
    width: 100%;
}
.resume-wrapper .resume-left .resume-image img{
    width: 100%;
    display: block;
}
.resume-wrapper .resume-title{
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 10px;
    letter-spacing: 4px;
}
.resume-wrapper .resume-left .resume-info{
    color: #84838b;
}
.resume-wrapper .resume-left .resume-bottom{
    padding: 20px 30px;
}
.resume-wrapper .resume-item{
    padding: 20px 0;
    border-bottom: 1px solid #ffd000;
}
.resume-wrapper .resume-item:last-child{
    border-bottom: 0px;

}
.resume-wrapper .resume-namerole .name{
    font-size: 20px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 5px;
    letter-spacing: 4px;

}
.resume-wrapper .resume-left .resume-namerole .role{
    color: #84838b;

}
.resume-wrapper .resume-left .resume-contact .resume-info:last-child{
    margin-top: 10px;
}
.resume-wrapper .resume-left .resume-contact .resume-subtitle{
    color: white;
    margin-bottom: 2px;
}
.resume-wrapper .resume-left .resume-skills .skills-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}
.resume-wrapper .resume-left .resume-skills .skills-list .skills-bar p{
    position: relative;
    height: 20px;
    width: 125px;
    background: white;
}
.resume-wrapper .resume-left .resume-skills .skills-list .skills-bar p span{
    position: absolute;
    top: 0;
    left: 0;
    background: #f5b400;
    width: 100%;
    height: 100%;
}
.resume-wrapper .resume-right{
    width: 65%;
    padding: 20px 40px;
}
.resume-wrapper .resume-right .resume-namerole .name{
    color: #26252d;
    font-size: 32px;
}
.resume-wrapper .resume-right .resume-namerole .role{
    font-size: 14px;
    text-transform: uppercase;
}
.resume-wrapper .resume-right .resume-item .resume-title{
    color: #26252d;
}
.resume-wrapper .resume-right .resume-data{
    display: flex;
}
.resume-wrapper .resume-right .resume-data .year{
    padding-right: 35px;
    width: 115px;
    position: relative;
}
.resume-wrapper .resume-right .resume-data .content{
    padding-left: 35px;
    margin-bottom: 20px;
    width: calc(100% - 115px);
}
.resume-wrapper .resume-right .resume-data .year::before{
    content: "";
    position: absolute;
    top: 5px;
    right: 0;
    width: 10px;
    height: 10px;
    background: white;
    border: 1px solid #ffd900;
    border-radius: 50%;
}
.resume-wrapper .resume-right .resume-data .year::after{
    content: "";
    position: absolute;
    top: 17px;
    right: 4px;
    width: 3px;
    height: 100%;
    background: #ffd001;
}

.resume-wrapper .resume-right .resume-data:last-child .year::after{
    display: none;
}
.resume-wrapper .resume-right .resume-interests .resume-info{
    display: flex;
    justify-content: space-between;
    text-align:center;
}

.resume-wrapper .resume-right .resume-interests .interests .int-icon{
    font-size: 38px;
    color: rgb(250, 164, 6);
    margin-bottom: 10px;
}








